<a href="https://colab.research.google.com/github/19papon/python19/blob/main/papondec19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = 19
b = "papon"
print(a)
print(b)

19
papon

In [5]:
a = 4
a = "Sally" # x is now of type str
print(a)

Sally

In [9]:
x = str("papon")    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

papon
3
3.0

In [11]:
a = 5
b = "John"
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [13]:
x = "John"   # is the same as
x = 'John'

In [14]:
a = 4
A = "Sally"
#A will not overwrite a

In [15]:
myvar = "papon"
my_var = "papin"
_my_var = "papon"
myVar = "papon"
MYVAR = "biswas"
myvar2 = "biswas"

In [18]:
#2myvar = "John"  # this can not be work
#my-var = "John"
#my var = "John"

In [19]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [20]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [21]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [23]:
x = y = z = 'Hello World'

In [24]:
x = "Python is awesome"
print(x)

Python is awesome

In [25]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [26]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [27]:
x = 5
y = 10
print(x + y)

15

In [29]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [30]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [31]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [32]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [33]:
x = 'awesome'
def myfunc():
  x = 'fantastic'
myfunc()
print('Python is ' + x)

Python is awesome

In [34]:
x = 5
print(type(x))

<class 'int'>

In [35]:
x = "Hello World"

In [36]:
x = ["apple", "banana", "cherry"]

In [37]:
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [38]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [39]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [40]:
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [41]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [42]:
x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [43]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x78dc6e5e0400>
<class 'memoryview'>

In [44]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [45]:
x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>